/* Fonts */
@font-face {
  src: url(/font/BebasNeue-Regular.ttf);
  font-family: bebas;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Colors */
:root {
  --colorPrimaty: #f21d44;
  --colorPrimatyDark: #a61731;
  --colorPrimatyLight: #d92b5a;
  --colorPrimatyVeryLight: #f27e9d;
  --colorTextLight: #f2f2f2;
  --colorTextDark: #330009;
  --colorPrimatySuperLight: #fbe4e4;
}

/* Clear Browser */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}


/* body */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: #fafafa;
}

/* cart */
.page-title{
    display: flex;
    justify-content: center;
}
.title{
    font-family: bebas, "Poppins", sans-serif;
    color: var(--colorPrimaty);
    font-size: 3.2rem;
    margin-bottom: 40px;
}
.cart{
    margin: 80px auto;
}
